@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: black;
}

img{
    width: 300px;
    display: block;
}

.card h2, p{
    color: white;
}


.container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 3px 3px 17px
     rgba(255, 255, 255, 0.226);
    transition: all 0.2s ease;
    transition-delay: 0.02s;
}

.card{
    position: absolute;
    bottom: 0;
    transform: translateY(70%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.548);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(0%);
}

.container:hover{
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.226);
    scale: 1.2;
}